@charset "UTF-8";

:root{ /*variaveis globais*/
    /*palheta de cores sugerida*/
    --cor01: rgb(255, 92,163);
    --cor02: rgb(255,204,220);
    --cor03: rgb(255,187,170);
    --cor04: rgb(244,255,180);
    /*fontes sugeridas*/


}



body{
    margin: 0px;
    overflow-x: hidden; /*impede a rolagem lateral*/
    background-image: url('siterosa03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment:scroll;
    text-transform: capitalize;
    
    
}

header{
    background-color: rgba(0, 0, 0, 0.548);
    max-width: 1000px;
    min-width: 200px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;

 }

 header > h1{
    color: white;
    text-align: center;
    padding-top: 65px;
   }


 nav{
    
    display: flex;
  }
 
    nav > a {
    text-decoration: none;
    color: black;
  }
 
  nav > a > .botaofotos{
     background-color: var(--cor04);
     padding: 5px;
     border-radius: 5px;
     margin: 5px;
   
 
     
  }
 
 
  nav > a >  .botaohome{
     background-color: var(--cor04);
     padding: 5px;
     border-radius: 5px;
     margin: 5px;
     
     
     
  }
 
  nav > a > :hover.botaofotos{
     text-decoration: underline;
     color: var(--cor01);
     background-color: var(--cor02) ;
 
  }
 
 
  nav > a >  :hover.botaohome{
     text-decoration: underline;
     color: var(--cor01);
     background-color: var(--cor02) ;
 
  }



  main > h1{
    text-align: center;
  }

  main > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

  }

  main > h1::before{
    content: '📽️';
  }
  main > p::before{
    content: '📌 ';
  }
  
  main > p.data::before{
    content: '📅 ';
  }

  /*-----------------noite dos slides----------------*/

  #galeria{
    text-align: center;
    
  }

  .caixa , .caixa2 , .caixa3 {
    display: inline-block;
    
  
  }

  .caixa{
    border: solid 1px white;
    background-color: white;
    height: 170px;
    width: 170px;
    padding-bottom: 40px;
    margin: 20px;
    padding-top: 20px ;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3); /*sombra*/
    margin: 40px;
    
    

    display: inline-block;
    justify-content: center; /* centraliza horizontal */
    align-items: flex-start; /* mantém no topo */
    
  }

  .polaroid{
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    
   
    
  }

  .caixa2{
    border: solid 1px white;
    background-color: white;
    height: 170px;
    width: 170px;
    padding-bottom: 40px;
    margin-top: 0 0 50% 0;
    padding-top: 20px ;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3); /*sombra*/
    margin: 40px;
    

    display: inline-block;
    justify-content: center; /* centraliza horizontal */
    align-items: flex-start; /* mantém no topo */
    
  }

  .polaroid2{
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .caixa3{
    border: solid 1px white;
    background-color: white;
    height: 170px;
    width: 170px;
    padding-bottom: 40px;
    margin-top: 0 0 50% 0;
    padding-top: 20px ;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3); /*sombra*/
    margin: 40px;
    

    display: inline-block;
    justify-content: center; /* centraliza horizontal */
    align-items: flex-start; /* mantém no topo */
    
  }


  .polaroid3{
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*-----------festa do pijama----------------*/

  .mural{


    margin: auto;


    background-image: url('cortiça.png');
    background-repeat: repeat;
    background-position: center center;
    border: 10px solid rgba(0, 0, 0, 0.774);
    width: 80%;
    min-height: 450px;
   

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

  }

  div > img{
   
    flex-basis:300px;
    height: 200px;
    
    
   
  }

  div.foto1,.foto2,.foto3,.foto4{
    position: relative;
    display: inline-block;
    padding: 10px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: rotate(-2deg); /* foto tortinha aesthetic */
  }

  .adesivo{
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }


  div.foto1::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 30%;
    width: 80px;
    height: 25px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0,0,0,0.1);

  }

  div.foto2::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 30%;
    width: 80px;
    height: 25px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0,0,0,0.1);
  }

  div.foto3::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 30%;
    width: 80px;
    height: 25px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0,0,0,0.1);
  }

  div.foto4::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 30%;
    width: 80px;
    height: 25px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0,0,0,0.1);
  }


  .video{
    border: 1px solid rgb(255,187,170);
    background-color:rgba(255, 187, 170, 0.555);
    border-radius: 10px;
    box-shadow: 1px 3px 0.5px 3 px rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;


    margin: auto;
    width: 700px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
   
  }

  video{
    margin: 20px;
    width: 500px;
    height: 480px;
    
  }

  
  

 


  

