@charset "UTF-8";

*{
    box-sizing: border-box;
}

 :root{ /*variaveis globais*/
    /*palheta de cores sugerida*/
    --cor01: rgb(255, 92,163);
    --cor02: rgb(255,204,220);
    --cor03: rgb(255,187,170);
    --cor04: rgb(244,255,180);
    /*fontes sugeridas*/


}


 body{
    margin: 0px;
    overflow-x: hidden; /*impede a rolagem lateral*/
    background-image: url('siterosa06.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment:scroll;
    
   

 }

 header{
    background-color: rgba(0, 0, 0, 0.692);
    max-width: 1000px;
    min-width: 200px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
 }

 header > h1{
    color: white;
    text-align: center;
    padding-top: 65px;
   
    
 }
 nav{
    
   display: flex;
 }

 nav > .botaofotos{
    background-color: var(--cor04);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;

    
 }


 nav > .botaohome{
    background-color: var(--cor04);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    
 }

 nav > :hover.botaofotos{
    text-decoration: underline;
    color: var(--cor01);
    background-color: var(--cor02) ;

 }


 nav > :hover.botaohome{
    text-decoration: underline;
    color: var(--cor01);
    background-color: var(--cor02) ;

 }

 main{
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box; /* ESSENCIAL */
    
 }

 .pergunta01 > h1{
    background-color: var(--cor03);
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3); /*sombra*/

    
 }

 .pergunta02 > h1{
    background-color: var(--cor03);
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3); /*sombra*/
   
 }

 footer{
    background-color: rgba(0, 0, 0, 0.692);
    
 }

footer > p{
    color: white;
 
}


footer > p > a {
    color: white;
    text-decoration: none;

}

footer > p > a:hover{
    text-decoration: underline;
    color: rgb(255, 92, 163);
    font-weight: bold;
    
}

